# Replace the values below with details relevant to your project and accounts. Remove the .sample file extension to use this file and mark it as ignored in Git, due to the sensitive nature of the information.

ACR_NAME=<your_registry_name_here>  # The name of your Azure container registry
RES_GROUP=$ACR_NAME-resgrp # The name of your Resource Group
AKV_NAME=$ACR_NAME-vault # The name of your Azure Key Vault
SERVICE_PRINCIPAL_NAME=acr-service-principal # Name of your service principal
GIT_USER=<your_gh_username_here>     # Your GitHub user account name
GIT_PAT=<your_gh_pat_here> #Your GitHub Personal Access Token
IMAGE_NAME=<image_name>
IMAGE_VERSION=<version>
REPO_PATH=<your_repo_path_here>
REPO_BRANCH=<your_branch_here>